.img__bg {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
}

.navbar.position-fixed.w-100.navbar-expand-lg.bg-light {
	z-index: 99;
	margin-top: -100px;
}

.d-flex.my-3 {
	margin-top: 100px !important;
}
